body {
    margin: 0;
    padding: 0;
    background: #C4C5B7;
    font-family: 'Montserrat', sans-serif;
    color: #252525;
}

.title {
    font-size: 60px;
    text-align: center;
    margin-top: 94.2px;
}

.navbar {
    margin: 0;
    padding: 16px 0;
    text-align: center;
    background: rgb(0, 33, 64);
    background: rgba(0, 33, 64, .7);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar li {
    display: inline-block;
    padding: 0 30px;
    border-right: #D6D6D6 1px solid;
}

.navbar li:last-child {
    border: none;
}

.navbar a {
    font-size: 18px;
    color: #D6D6D6;
    text-decoration: none;
    text-transform: uppercase; 
    letter-spacing: 1px;
}

.navbar a:hover {
    color:#fff;
}

.about-me {
    width: 65%;
    margin: 0 auto;
}

.foto {
    border-radius: 50%;
    float: left;
    padding: 20px;
}

.text {
    font-size: 22px;
    line-height: 30px;
    /* letter-spacing: 1px; */
}

.pquote {
    float: right;
    width: 300px;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    padding: 18px;
    padding-right: 0;
}

blockquote {
    margin: 0;
}

.special {
    color: #56515C;
}

hr {
    height: 1px;
    background-color: #56515C;
    margin: 30px 0;
    border: none;
}

.global-footer {
    color: #D6D6D6;
    text-align: right;
    padding: 10px 30px;
    margin-top: 40px;
    background: rgb(0, 33, 64);
    background: rgba(0, 33, 64, .7);
}

.list {
    list-style-type: circle;
}

.list li {
    padding: 10px;
    font-size: 20px;
    border-bottom: #56515C 1px solid;
    max-width: 300px;
}

.list li:last-child {
    border: none;
}











